h1 {
    font-size: 70px;
}

img {
    object-fit: cover; /* Zastępowana treść ma rozmiar tak, aby zachować proporcje podczas wypełniania całego pola zawartości elementu. Jeśli proporcje obiektu nie odpowiadają proporcjom jego ramki, obiekt zostanie przycięty w celu dopasowania. */
}

.subscribe {
    background-color: red;
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    transition: opacity 0.20s; /* przejście */
}
.subscribe:hover /* kiedy najedziesz to się zmieniają efekty */ {
    opacity: 0.7;/* nieprzezroczystość */
}
.subscribe:active { /* Kiedy klikniesz to się zmieniają efekty, chwilowo */
    opacity: 0.5;
}
.join {
    background-color: white;
    color: rgb(28, 115, 207);
    border-color: rgb(28, 115, 207);
    border-style: solid; /* cały border ma jednolity kolor */
    border-width: 1px;
    border-radius: 2px;
    height: 36px;
    width: 62px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.20s, color 0.20s;
}
.join:hover {
    background-color: rgb(28, 115, 207);
    color: white;
}
.join:active {
    opacity: 0.7;
}
.tweet {
    background-color: rgb(22, 128, 190);
    color: white;
    border: none;
    border-radius: 18px;
    height: 36px;
    width: 72px;
    font-weight: bold;
    transition: box-shadow 0.20s;
}
.tweet:hover {
    box-shadow: 2px 2px 5px rgb(113, 113, 113); /* rgba(0, 0, 0, 0.15) ostatnia liczba to a i jest to opacity od 0 do 1 */
}
.uber {
    background-color: black;
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    margin-right: 10px;
}
.amazon {
    background-color: rgb(255, 216, 21);
    border: none;
    height: 36px;
    width: 170px;
    border-radius: 18px;
    margin-right: 10px;
}
.github {
    background-color: rgb(54, 164, 85);
    color: white;
    border: none;
    height: 36px;
    width: 85px;
    border-radius: 5px;
}
.boot {
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    border-radius: 3px;
    height: 36px;
    width: 105px;
}
.strap {
    background-color: white;
    color: rgb(108, 117, 125);
    border: solid;
    border-radius: 3px;
    border-width: 1px;
    height: 36px;
    width: 105px;
}
.linke {
    background-color: rgb(10, 102, 194);
    color: white;
    width: 210px;
    height: 36px;
    border-radius: 18px;
    border: none;
}
.dlan {
    color: rgb(10, 102, 194);
    background-color: white;
    width: 80px;
    height: 36px;
    border-radius: 18px;
    border: solid;
    border-width: 1px;
}


p{
    font-family: roboto; 
}
.google {
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 24px; /* odstęp między liniami tekstu */
    margin-bottom: 5px;/* znacznik <p> - paragraf, ma domyślnie ustawiony margin-top: 14px; oraz margin-bottom: 14px; */
}
.stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0px;
}
.margues {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0px;
    margin-bottom: 20px;
}
.desc {
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 280px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 80px;
}
.shop-early {
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}
.shop-now {
    cursor: pointer;
}
.shop-now:hover {
    text-decoration: underline;

}

.new-macbook p {
    font-family:arial;
    text-align: center;
}
.new {
    margin-top: 0px;
    margin-bottom: 7px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(189, 68, 20);
}
.macbook {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(22, 22, 22);
}
.supercharged {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(22, 22, 22);
}
.price {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 15px;
    color: rgb(22, 22, 22);
}
.buy {
    text-align: center;
    font-size: 13px;
    background-color: rgb(15, 143, 255);
    border-radius: 18px;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.2s;
}
.buy:hover {
    opacity: 0.8;
}
.new-macbook a {
    text-decoration: none;
    color: white;
}
.money p {
    margin-top: 0px;
    margin-bottom: 7px;
}
.number {
    font-size: 32px;
}
.usd {
    font-size: 15px;
    margin-left: 10px;
    color: rgb(62, 62, 62);
}
.plus {
    color: rgb(57, 118, 53);
}
.after {
    color: rgb(62, 62, 62);
}
.minus {
    color: rgb(179, 30, 30);
}


.codecamp {
    font-weight: bold;
    margin-bottom: 5px;
}
.freecodecamp {
    font-weight: normal;
    color: rgb(95, 95, 95);
}
.plaintext {
    margin-top: 0px;
    width: 500px;
    margin-bottom: 20px;
}
.adnotation {
    margin-top: 0px;
}
.chp {
    color: rgb(43, 156, 208);
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

ul {
    list-style-type: none;
 }
 li {
    display: inline;
 }
 a {
    text-decoration: none;
    color: rgb(104, 104, 104);
    transition: opacity 0.2s;
 }
 a:hover {
    opacity: 0.7;
 }
 a:active {
    opacity: 0.4;
 }
 #wizyta {
    background-color: rgb(43, 120, 182);
    color: rgb(255, 255, 255);
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 80px;
    font-size: 10px;
    margin-left: 20px;
    transition: opacity 0.2s;
 }
 #wizyta:hover{
    opacity: 0.8;
 }

 #search-round {
    border-radius: 4px;
    color: #2c2c2c;
    border-color: rgb(119, 119, 119);
    border-style: solid;
    border-width: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
 }
 #search-shadow {
    width: 175px;
    padding-right: 200px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 13px;
    border-style: none;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgb(165, 165, 165);
 }
 #label-email {
    font-family: roboto;
    font-size: 10px;
    color: #494949;
 }
 #email {
    padding-right: 81px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-color: rgb(56, 56, 56);
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
 }
 #agree {
    font-family: roboto;
    font-size: 10px;
    color: #494949;
    margin-top: 12px;
    margin-bottom: 12px;
 }
 #join {
    background-color: #146cbe;
    border-style: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 85px;
    padding-right: 85px;
    border-radius: 36px;
 }
 #multipfp {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    vertical-align: middle;
 }
 #happening  {
    vertical-align: middle;
    color: #393939;
    margin-left: 5px;
    font-size: 15px;
 }
 #tweet2 {
    font-size: 15px;
    background-color: rgb(22, 128, 190);
    color: white;
    border: none;
    border-radius: 18px;
    height: 30px;
    width: 72px;
    font-weight: bold;
    transition: box-shadow 0.20s;
    vertical-align: middle;
    margin-left: 140px;
 }