.header {
    height: 55px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 230, 230);
    z-index: 1;

    font-family: roboto, arial;
}
.left-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo {
    height: 20px;
}
.middle-section {
   flex: 1;
   margin-left: 70px;
   margin-right: 35px;
   max-width: 500px;
   display: flex;
   align-items: center;
   cursor: pointer;
}
.search-bar {
    height: 36px;
    flex: 1;
    border: 1px solid rgb(205, 205, 205);;
    padding-left: 10px;
    font-size: 16px;
    outline: none;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0px;
}
.search-bar::placeholder {
    font-family: roboto;
    font-size: 16px;
}
.search-icon {
    height: 25px;
}
.search-button{
    height: 40px;
    width: 66px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(205, 205, 205);
    background-color: rgb(240, 240, 240);
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
}
.search-button .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    bottom: -35px;
    opacity: 0;
    font-size: 10px;
    transition: opacity 0.1s;

    pointer-events: none; /* kiedy kursor znajdzie się nad tym to się nie pojawi już*/
}
.search-button:hover .tooltip, 
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.app-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip  {
    opacity: 1;
}
.search-button, .voice-search-button, .upload-icon-container,
.app-icon-container, .notifications-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border-style: none;
    border-color: rgb(205, 205, 205);
    background-color: rgb(240, 240, 240);
    
}
.voice-search-icon {
    height: 26px;
}
.voice-search-button .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    bottom: -35px;
    opacity: 0;
    font-size: 10px;
    transition: opacity 0.1s;

    pointer-events: none;
    white-space: nowrap;
}


.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0; /* 0 means this section doesnt shrink */
    cursor: pointer;
}
.upload-icon {
    height: 24px;
}
.upload-icon-container .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    bottom: -35px;
    opacity: 0;
    font-size: 10px;
    transition: opacity 0.1s;

    pointer-events: none;
}


.apps-icon {
    height: 24px;
}
.app-icon-container .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    bottom: -35px;
    opacity: 0;
    font-size: 10px;
    transition: opacity 0.1s;

    pointer-events: none;
    white-space: nowrap;
}

.notifications-icon {
    height: 24px;
}
.notifications-icon-container .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    bottom: -35px;
    opacity: 0;
    font-size: 10px;
    transition: opacity 0.1s;

    pointer-events: none;
}
.notifications-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(201, 0, 0);
    color: white;
    border-radius: 20px;
    font-size:10px;
    font-family: roboto, arial;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: solid white 1px;
}
.jung-multi {
    height: 32px;
    border-radius: 16px;
}
