.episode {
    font-size: 13px;
}
.miniaturka {
    width: 100%;
}
.name {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    line-height: 20px;
}
.avatar {
    border-radius: 36px;
    width: 100%;
}
.author {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 4px;
    color: rgb(103, 103, 103);
}
.data {
    font-size: 12px;
    margin-top: 0px;
    color: rgb(103, 103, 103);
}
.avatardiv {
    width: 35px;
    vertical-align: top;
}
.dane {
    width: 240px;
}
.dolna {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
}
/*#author1, #data1 {
    display: inline-block;
}*/
/*object-fit: cover; /* wtedy zdjęcie się powiększa do wymiarów danych i widac tylko część 
    /*object-fit: contain; zdjęcie się zmniejsza, aż może całe się zmieścić do pudła */