body{
    font-family: roboto, arial;
    margin: 0px;
    background-color: #000000;
    text-align: center;
    display: grid;
    place-items: center;
}
.container-1 {
    background-color: black;
    width: min(1280px, 100%);
    display: grid;
    grid-template-columns: 280px 1000px;
}