.video-grid {
    display: grid;
    column-gap: 15px;
    row-gap: 40px;
}

@media (max-width: 1020px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1021px) and (max-width: 1549px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1550px){
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1034px) {
    .name {
        font-size: 18px;
        line-height: 24px;
    }
}
@media (max-width: 1033px) {
    .name {
        font-size: 16px;
        line-height: 24px;
    }
}
@media (min-width: 1033px) {
    .author-data {
        font-size: 16px;
    }
}
@media (max-width: 1034px) {
    .author-data {
        font-size: 14px;
    }
}
.episode {
    font-size: 13px;
}
.miniaturka {
    width: 100%;
}
.name {
    margin-top: 0px;
    font-weight: 500;
    line-height: 20px;
}
.avatar {
    border-radius: 36px;
    width: 100%;
    position: relative;
}
.author {
    margin-top: 10px;
    color: rgb(103, 103, 103);
}
.data {
    margin-top: 0px;
    color: rgb(103, 103, 103);
}
.avatardiv {
    width: 35px;
    vertical-align: top;
    position: relative;
}
.dane {
    width: 240px;
}
.dolna {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.thumbnail {
    position: relative;
    margin-bottom: 8px;
}
.video-time {
    font-family: roboto;
    font-weight: 500;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 14px;
    bottom: 8px;
    right: 4px;
    padding: 4px;
    border-radius: 3px;
}

.avatar-tip {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    width: 160px;
    white-space: nowrap;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 12px;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
}
.in-avatar-div:hover .avatar-tip{
    opacity: 1;
}
.avatar-in-tip {
    width: 40px;
    margin-right: 5px;
}
.avatar-tip-text {
    flex: 1;
    font-size: 14px;
}
.avatar-tip-text-name {
    font-weight: bold;
}
.avatar-tip-text-subs {
    font-size: 11px;
    color: rgb(103, 103, 103);
}
.in-avatar-div {
    display: inline-block;
    position: relative;
}


/*#author1, #data1 {
    display: inline-block;
}*/
/*object-fit: cover; /* wtedy zdjęcie się powiększa do wymiarów danych i widac tylko część 
    /*object-fit: contain; zdjęcie się zmniejsza, aż może całe się zmieścić do pudła */