.left-side-container {
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 280px;
    top: 0px;
    bottom: 0px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgb(70, 70, 70);
}
.top-of-left-side {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.left-side-option {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 54px;
}
.left-side-option span {
    font-size: 35px;
}
.left-side-option-for-hover {
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 100px;
    padding-right: 30px;
    transition: background-color 0.2s;
}
.left-side-option-for-hover{
    padding-right: 0px;
}
.left-side-option-for-hover:hover {
    background-color: rgb(19, 19, 19);
}
.inside-left-text {
    font-size: 19px;
    padding-top: 5px;
    padding-left: 20px;
}
.down-of-left-side {
    position: fixed;
}
.logo-on-top {
    display: flex;
    padding-top: 5px;
    padding-bottom: 20px;
}
.logo-img-bigger { 
    width: 45px;
    color: white;
    padding-right: 5px;
}
.logo-img-small {
    width: 40px;
    color: white;
}
.opublikuj-wpis-button {
    height: 53px;
    padding: 10px 55px 10px 55px;
    border: none;
    border-radius: 50px;
    background-color: rgb(24, 148, 231);
    color: white;
    font-size: 19px;
    font-weight: bold;
    position: fixed;
    bottom: 445px;
}
.profil {
    position: fixed;
    width: 280px;
    bottom: 18px;
    color: white;
}
.profil-flex {
    display: flex;
}
.profil-img {
    width: 43px;
}
.jung-multi {
    width: 100%;
    border-radius: 50px;
}
.profil-zawartosc {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    padding-top: 3px;
}
.profil-nazwa {
    font-weight: 500;
}
.profil-tag {
    color: rgb(113, 118, 123);
}
.profil-more {
    padding-right: 10px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profil-more span {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-right: 30px;
}