.right-side-container {
    width: 1000px;
    color: white;
    padding-left: 280px;
}
.right-side {
    display: flex;
    width: 1000px;
    font-family: roboto, arial;
}
.blue-strip {
    position: absolute;
    background-color: rgb(50, 141, 216);
    width: 76px;
    height: 3px;
    z-index: 500;
    border-radius: 80px;
    bottom: 0px;
    left: 94px;
}
.middle-container {
    display: flex;
    flex-direction: column;
    width: 590px;
    border-right: 1px solid rgb(70, 70, 70);
    border-bottom: 1px solid rgb(70, 70, 70);
}
.middle-header {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 590px;
    height: 50px;
    align-items: center;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.98);
    border-bottom: 1px solid rgb(70, 70, 70);
    z-index: 1000;
}
.dla-ciebie {
    flex: 1;
    padding: 15px 15px 15px 15px;
    transition: background-color 0.2s;
    position: relative;
}
.dla-ciebie-text {
    font-weight: 500;
}
.dla-ciebie:hover {
    background-color: rgb(26, 26, 26);
}
.obserwujesz {
    flex: 1;
    padding: 15px 18px 15px 18px;
    margin-right: 10px;
    transition: background-color 0.2s;
}
.obserwujesz-text {
    color: gray;
}
.obserwujesz:hover {
    background-color: rgb(26, 26, 26);
}
.settings {
    padding: 7px 10px 7px 10px;
    margin-right: 7px;
    border-radius: 30px;
    transition: background-color 0.2s;
}
.settings span {
    margin-top: 2px;
    font-size: 19px;
}
.settings:hover {
    background-color: rgb(26, 26, 26);
}
.co-sie-dzieje {
    display: grid;
    height: 130px;
    grid-template-rows: 56px 56px;
    background-color: black;
    margin-top: 50px;
    border-bottom: 1px solid rgb(70, 70, 70);
}
.top-of-co-sie-dzieje {
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.avatar-co-sie-dzieje {
    width: 50px;
    padding: 10px 20px 10px 20px;
}
.img-co-sie-dzieje {
    width: 100%;
    border-radius: 50px;
}
.co-sie-dzieje-input {
    height: 40px;
    background: none;
    border: none;
    color: rgb(166, 166, 166);
    font-size: 20px;
    outline: none;
    
}
.bottom-of-co-sie-dzieje {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 20px;
    padding-top: 35px;
}
.icons-of-co-sie-dzieje {
    display: flex;
    column-gap: 12px;
}
.icons-of-co-sie-dzieje span {
    font-size: 20px;
    color: rgb(24, 148, 231);
}
.opublikuj-wpis-right-section {
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 50px;
    background-color: rgb(24, 148, 231);
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.nowe-wpisy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    color: rgb(24, 148, 231);
    cursor: pointer;
}
.big-post {
    border-top: 1px solid rgb(70, 70, 70);
}
.big-post-option {
    display: flex;
    flex-direction: row;
    padding: 10px 15px 0px 15px;
    cursor: pointer;
}
.post {
    display: flex;
    flex-direction: row;
    padding: 10px 15px 0px 15px;
    border-top: 1px solid rgb(70, 70, 70);
    cursor: pointer;
}
.post-avatar {
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2px;
}
.post-avatar img {
    width: 100%;
    border-radius: 50px;
}
.post-content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.post-informations {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.post-creator-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2px;
}
.creator {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.creator span {
    color: rgb(24, 148, 231);
    font-size: 18px;
}
.creator-name {
    padding-right: 1px;
}
.creator-tag {
    padding-left: 3px;
    color: gray;
}
.post-more span {
    color: gray;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px;
    transition: color 0.2s;
    transition: background-color 0.2s;
}
.post-more:hover span {
    color: rgb(24, 148, 231);
    background-color: rgba(24, 148, 231, 0.1);
}
.post-message {
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.post-image {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    max-height: 510px;
    max-height: 510px;
    width: 510px;
}
.post-image-settings {
    height: 100%;
    max-width: 510px;
    max-height: 510px;
    border-radius: 20px;
    border: 1px solid rgb(24, 24, 24);
}
.post-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 5px;
}
.post-bookmark-and-upload {
    display: flex;
}
.post-stats-option {
    display: flex;
    align-items: center;
    color: rgb(91, 91, 91);
    font-size: 14px;
    transition: color 0.3s;
}
.post-stats-option span {
    padding: 8px;
    font-size: 20px;
    transition: color 0.3s;
    transition: background-color 0.2s;
    border-radius: 100px;
}
.post-stats-option:nth-child(1):hover {
    color: rgb(24, 148, 231);
}
.post-stats-option:nth-child(1):hover span {
    color: rgb(24, 148, 231);
    background-color: rgba(24, 148, 231, 0.1);
}

.post-stats-option:nth-child(2):hover {
    color: rgb(43, 138, 81);
}
.post-stats-option:nth-child(2):hover span {
    color: rgb(43, 138, 81);
    background-color: rgba(43, 138, 81, 0.1);
}

.post-stats-option:nth-child(3):hover {
    color: rgb(231, 24, 55);
}
.post-stats-option:nth-child(3):hover span {
    color: rgb(231, 24, 55);
    background-color: rgba(231, 24, 55, 0.1);
}

.post-stats-option:nth-child(4):hover {
    color: rgb(24, 148, 231);
}
.post-stats-option:nth-child(4):hover span {
    color: rgb(24, 148, 231);
    background-color: rgba(24, 148, 231, 0.1);
}


.post-stats-option-bookmark {
    display: flex;
    align-items: center;
    color: rgb(91, 91, 91);
    font-size: 14px;
    transition: color 0.3s;
}
.post-stats-option-bookmark span {
    padding: 8px;
    font-size: 20px;
    transition: color 0.3s;
    transition: background-color 0.2s;
    border-radius: 100px;
}

.post-stats-option-bookmark:hover span {
    color: rgb(24, 148, 231);
    background-color: rgba(24, 148, 231, 0.1);
}

/* Right part of right-container */
.searchbar-div {
    display: flex;
    height: 60px;
    z-index: 999999;
}
.searchbar-container { 
    display: flex;
    flex-direction: column;
    flex: 1;
}
.searchbar-header {
    position: fixed;
    width: 320px;
    padding: 5px 60px 5px 30px;
    background-color: black;
}
.searchbar-header i {
    position: absolute;
    color: gray;
    top: 19px;
    left: 50px;
}
.searchbar-header input {
    width: 100%;
    color: gray;
    border-style: none;
    background-color: rgba(22,24,28,255);
    font-size: 15px;
    padding: 13px 0px 13px 60px;
    border-radius: 1000px;
}

/* Right panel code */

.right-panel {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    flex: 1;
    position: sticky;
    top: 0px;
    padding: 10px 20px 20px 30px;
}
.zasubskrybuj-div {
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgba(22,24,28,255);
    border-radius: 15px;
    color: rgba(231,233,234,255);
}
.zasubskrybuj-title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}
.zasubskrybuj-text {
    padding-bottom: 10px;
}
.zasubskrybuj-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px 10px 15px;
    border-radius: 100px;
    background-color: rgb(24, 148, 231);
    color: rgba(231,233,234,255);
    cursor: pointer;
    border-style: none;
    font-weight: bold;
    font-size: 14px;
}
.pokaz-wiecej {
    display: flex;
    color: rgb(24, 148, 231);
    padding: 15px;
    transition: background-color 0.2s;
    cursor: pointer;
}
.pokaz-wiecej:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.warci-obserwowania {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgba(22,24,28,255);
    border-radius: 15px;
}
.warci-title {
    font-weight: bold;
    font-size: 20px;
    padding: 15px 0px 15px 15px;
}
.warci-proposition-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 15px 8px 15px;
    transition: background-color 0.2s;
    cursor: pointer;
}
.warci-proposition-option:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.warci-avatar {
    width: 40px;
    padding-top: 5px;
}
.warci-avatar img {
    width: 100%;
    border-radius: 100px;
}
.warci-name {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    font-size: 15px;
}
.warci-truename {
    font-weight: 500;
}
.warci-truename span {
    color: rgb(24, 148, 231);
    font-size: 18px;
}
.warci-tag {
    color: gray;
}
.warci-obserwuj button {
    padding: 8px 18px 8px 18px;
    background-color: white;
    color: rgba(22,24,28,255);
    font-weight: bold;
    border-style: none;
    border-radius: 100px;
}
.najpopularniejsze{
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgba(22,24,28,255);
    border-radius: 15px;
}
.najpopularniejsze-title {
    font-weight: bold;
    font-size: 20px;
    padding: 15px 0px 15px 15px;
}
.najpopularniejsze-option {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 14px 15px 14px 15px;
    transition: background-color 0.2s;
    cursor: pointer;
}
.najpopularniejsze-option:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.naj-option-top-text {
    color: gray;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}
.naj-option-top-text span {
    font-size: 18px;
    font-weight: bold;
}
.naj-option-title {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
}
.naj-option-numbers {
    color: gray;
    font-size: 12px;
}
.text-koncowy a {
    color: gray;
    text-decoration: none;
    padding-left: 20px;
}
.text-koncowy-a:hover {
    text-decoration: underline;
}
.text-koncowy {
    display: flex;
    flex-direction: column;
}
.text-koncowy-div span {
    color: gray;
}
.text-koncowy-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
    font-size: 12px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.text-koncowy-div-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
    font-size: 12px;
    padding-bottom: 0px;
    padding-top: 5px;
}
.copyright {
    padding-left: 20px;
}